* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "segoe UI", sans-serif;
}
.header {
    background: #1f3c4e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 22px;
    font-size: 15px;
}
.top-header .container{
   display: flex; 
   align-items: center;
   justify-content:flex-end;
   width: 100%;
   margin: 0 auto;
}
.social-icons {
   display:flex;
   align-items: center;
   float: right;

}
.social-icons a{
   display: flex;
   margin-left: auto;
   color: #fff;
}
.contact-info {
   display: flex;
}
.contact-info i {
margin-left: 5px;
}
.contact-info span {
margin-left: 10px;
}
/* Navbar */.navbar {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding: 12px 65px;
    background: #ffffff;
}

.logo {
    font-size: 22px;
    color:#0aa5c0;
    font-weight: bold;
}
.nav {
    list-style:none ;
    color: #333;
    font-weight: 470;
    display:flex ;
    gap: 30px;
    padding: 17px;

}
nav {
   position: relative;
   text-align: center;
   background-color: white;
   font-size: 20px;
   align-items: baseline;
}
nav::after{
   background-color: red;
}
a{
   text-decoration: none;
}
nav a:nth-child(1):hover~span{
   left: 0px;
}
nav a:nth-child(2):hover~span{
   left: 90px;
}
nav a:nth-child(3):hover~span{
   left: 180px;
}
nav a:nth-child(4):hover~span{
   left: 275px;
}
nav a:nth-child(5):hover~span{
   left: 380px;
}

.appointment-btn {
    background: #0aa5c0;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}
/*Hero */.hero {
    background: linear-gradient(to right, #b2ecf5,#6fd2f0);
    text-align: 40px;
    padding: 80px 20px;
}
.hero h1 {
    font-size: 40px;
    margin-bottom: 25px;
}
/*search */ .search-box {
    display: flex;
    justify-content: center;
    outline: none;
    border-radius: 3px;
}
 .search-box input {
    width: 300px;
 }
 .search-box button {
    background: #0aa5c0;
    border: none;
    padding: 12px 15px;
    color: #fff;

 }
 /* Buttons */ .hero-buttons button {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    margin: 5px;
    cursor: pointer;
 }
 .dark-btn {
    background: #1f3c4e;
    color: #fff;
 }
 .light-btn {
    background: #fff;
    color: #1f3c4e;
 }
 /*features */.features {
    display: flex;
    justify-content:center ;
    gap: 25px;
    padding: 60px 20px;
 }

 .features-card {
    background: #fff;
    padding: 25px;
    text-align: center;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 0 15px regba(0,0,0,0.1);
 }

 /*categories */ .categories {
    text-align: center;
    padding: 60px 20px;
 }
 .category-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
 }
 .category-item {
    padding: 15px 25px;
    background: #f2f2f2;
    border-radius: 30px;
 }
 /* product */ .product {
    padding: 60px 20px;
    text-align: center;
 }
 .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 25px;
    margin-top: 30px;
 }
 .product-card button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #0aa5c0;
    color: #fff;
    border: none;
    border-radius: 20px;
 }
 /* footer */ footer {
    background: #1f3c4e;
    color: #fff;
    text-align: center;
    padding: 20px;
 }
 .product-card{
   position: relative;
 }
 .status {
   position: absolute;
   top: 15px;
   left: 15px;
   padding: 6px 14px;
   border-radius: 20px;
   font-size: 12px;
   font-weight: bold;
   color: #fff;
 }
 .status.available {
   background-color: #28a745;
 }
 .status.scarce {
   background-color: #f39c12;
   .status.out {
      background: #dc3545;
   }
 }
 .product-card.out button {
   background: #ccc;
   cursor: not-allowed;
 }